* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;

}

h3 {
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/442/338/487/red-forest-3840x2160-4k-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    background-color: rgba(0, 0, 0, 0.623);
    padding-bottom: 5%;
}

p {
    color: aliceblue;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}



/*class*/

.Blancas {
    color: aliceblue;
    text-decoration: none;
}

/* PRESENTATION SECTION*/
.welcome {
    display: block;
    margin-left: 13%;
    margin-right: 13%;
    padding-bottom: 0%;
    padding-top: 6%;
}

.welcome h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 90px;
    letter-spacing: 22px;
}

.presentation {
    display: block;
    background-color: rgba(0, 0, 0, 0.404);
    width: 80%;
    height: 27%;
    margin: 10%;
    
}

.presentation p {
    font-size: 200%;
    padding: 100px;
    text-align: center;
}

/* BIO SECTION*/
.bio-container {
    display: block;
    margin-right: 5%;
    width: 95%;
    height: 27%;
    background-color: rgb(102, 0, 0);
}

.bio-container p {
    font-size: 20px;
    padding: 5%;
    margin-left: 50%;
    text-align: right;
}

/* Web Section */

.pags-tittle {
    margin-top: 10%;
    background-color:rgba(0, 0, 0, 0.493) ;
    margin: 13%;
    margin-bottom: -125px;
    padding: 60px;
    border-color: aliceblue;
}

.pags-tittle h2 {
    color: white;
    text-align: center;
    font-size: 60px;
    letter-spacing: 20px;
}

.pags-container {
    padding: 10px;
    padding-top: 41px;
    padding-bottom: 41px;
    margin: 13%;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 40px;
    background-color:rgba(0, 0, 0, 0.493);
}

article .pags-container div {
    text-align:center;
}

article .pags-container div div {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

article .pags-container div div:hover {
    background-color: red;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}

article .pags-container div div img {
    width: 300px;
    height: 200px;
}

/* NAV */
.main-nav {
    display: flex;
    background-color: #4a0707;
    position: fixed;
    width: 100%;
    height: 32px;
}

.main-nav_item {    
    padding: 7px;
    display: inline-block;
}


.main-nav_item .logo {
    font-size: 18px;
    font-weight: none;
    padding-left: 10px;
}

.main-nav_item:last-child{
    margin-left: auto;
}

.nav-item {
    padding: 7px;
}

.nav-item:hover {
    background-color: #793b3b;
    
}

.main-nav a {
    transition: color 0.3s ease-in-out;
}

/*Footer Section*/

footer {
    color: white;
    background-color: rgb(43, 43, 43);
    text-decoration: none;
    padding: 5%;
    margin-top: -80px;
    margin-bottom: -0px;
}

footer h3 {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 40px;
}

footer ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 6px;
    list-style: none;
}

footer a:hover {
    color: rgb(0, 192, 192);
}

.contact-img__1 {
    list-style-image: url('');
}

.contact-img__2 {
    list-style-image: url('');
}

.contact-img__3 {
    list-style-image: url('');
}

.contact-img__4 {
    list-style-image: url('');
}

.contact-img__5 {
    list-style-image: url('');
}

.contact-img__6 {
    list-style-image: url('');
}
